<!doctype html>
<html lang="en">
	<head>
		{% include "_head.njk" %}
	</head>
<body>
{% include "_header.njk" %}
<main>
	{{ content | safe }}
</main>
{% include "_footer.njk" %}
<script src="/assets/main.js" defer></script>
</body>
</html>
