---
layout: _base.njk
---

<section class="hero">
	<h1 class="hero__title">{{ title }}</h1>
	<div class="hero__row">
		<p class="hero__lede">{{ description }}</p>
		<a class="button" href="medical-diagnosis-app.html">See a case study &rarr;</a>
	</div>
</section>
{% include "_products_home.njk" %}
{% include "_skills.njk" %}
{% include "_certifications.njk" %}
{% include "_talks.njk" %}
{% include "_references.njk" %}
